
.hr{
margin-top:1%;
margin-left:35%;
height:75px;
width:35%;

}
.logo{
height:120%;
width:120%;
margin-left:-8%;
margin-top:-104px;
}
.marquee1{
direction:left;
margin-top: 400;
font-size:18px;
}
body{ 
font-family:verdan;
font-sie:15px;
}
 #back_glob
     { 
     background-color:#e9fbf7; 
     border:1px solid #25b2ds; 
     width:350px;
     margin:0 auto;
     box-shadow:10px 20px 25px #25b2ds; 
     }
     input
     { 
     display:block; 
     margin:10px;
     }
 #back_header
     { 
	 padding:2px;
     background-color:none; 
     text-align:center; 
     font-size:22px; 
     font-weight:bold;
     color:BLUE;
	 margin:50px;
     }
     input[type=text],input[type=password]{padding:10px; border-radius:3px; borde:1px solid #add;}
     input[type=submit]{ 

     background-color:25b2d5; 
     padding:5px 10px 5px 10px border-raidus:55px solid #319db8;
     color: white; 
     font-weight:bold 
     }
 #back_form
      {
     display:flex; justify-content:center;
     } 
.footer{
text-align:center;
  background-color:#000;
    color:white;
    clear:both;
    padding:1px;
	margin-top:50%;
	font-size:13px;
}
.menu{
background:#858585;
width:85% auto;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10%;
height:30px;
padding:13px;
margin-top:-40px;
margin-left:145px;
margin-right:-8px;
}
#navMenu{

	padding:0;
	margin-left:-5px;
	margin-top:-23px;
	
}
#navMenu ul{
margin:0;
padding:0;
line-height:50px;
margin-left:50px;
}
#navMenu li{
   margin:0;
	padding:0px;
	list-style:none;
	float:left;
	position:relative;
	background:none;
  } 
  #navMenu ul li a{
 
text-align:center;

text-decoration:none;
height:50px;
width:150px;
display:block;
color:#FFF;
border: 1PX solid #FFF ;
text-shadow:1px 1px 1px #000; 
 }
 
 #navMenu  ul ul{
position:absolute;
visibility:hidden;
top:25px;

}
#navMenu ul li:hover ul{
 visibility:visible;
} 
#navMenu li:hover {
   background:black;
   height:30px;
   margin-top:10px;
   margin-left:50px;
   }
#navMenu ul li:hover ul li a: hover {
   background:#OCCC;
   color:#000;
}   
#navMenu a: hover{
color:#000;
}  
.container{
width:2000px;
height:0px auto;
}
 .clearFloat{
   clear:both;
    margin:0;
   padding:0;
}
a{
text-align:center;
}


